@import "bootstrap-sprockets";
@import "bootstrap";

$state-danger-text: #a94442 !default;

nav {
  ul {
    // overflow: hidden;
    margin: 0 auto;
    padding: 0 3%;
    width: 94%;
    max-width: 960px; 
    height: 40px;
    list-style: none;
    background-color: lightblue;
    li {
      position: relative;
      float: left;
      width: 33%;
      a {
        display: block;
        padding: 17px 5%;
        width: 90%;
        height: 100%;
        text-align: center;
        text-decoration: none;
        color: #fff;
        letter-spacing: .2rem;
        font-size: 12px;
      }
    }
  }

}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  letter-spacing: -2px;
  text-align: center;
}

.container {
  margin: auto;
  text-align: center;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  // input {
    // @extend .is-invalid;   # has-errorが廃止になってこれを使うように書かれてたけど、エラーが出る。
  // }
  .form-control {
    color: $state-danger-text;
  }
}