nav {
  ul {
    // overflow: hidden;
    margin: 0 auto;
    padding: 0 3%;
    width: 94%;
    max-width: 960px; 
    height: 40px;
    list-style: none;
    background-color: lightblue;
    li {
      position: relative;
      float: left;
      width: 33%;
      a {
        display: block;
        padding: 17px 5%;
        width: 90%;
        height: 100%;
        text-align: center;
        text-decoration: none;
        color: #fff;
        letter-spacing: .2rem;
        font-size: 12px;
      }
    }
  }

}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  letter-spacing: -2px;
  text-align: center;
}

.container {
  margin: auto;
  text-align: center;
}