@import "bootstrap-sprockets";
@import "bootstrap";

$state-danger-text: #a94442 !default;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: lightseagreen;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

ul {
  list-style: none;
}

// nav {
//   ul {
//     margin: 0 auto;
//     max-width: 960px; 
//     height: 40px;
//     list-style: none;
//     background-color: lightblue;
//     li {
//       float: left;
//       width: 33%;
//       a {
//         text-decoration: none;
//         color: #fff;
//         letter-spacing: .2rem;
//         font-size: 12px;
//       }
//     }
//   }
// }

// header {
//   li p {
//     padding-right: 15px;
//     color: grey;
//   }
//   li p:hover {
//     color: whitesmoke;
//   }
// }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  .logo {
    float: left;
  }
  .footer-link {
    float: right;
    li {
      float: left;
      padding-left: 15px;
    }
  }
}

h1 {
  letter-spacing: -2px;
  text-align: center;
}

.center {
  text-align: center;
}

.white {
  color: white;
}

.center h1 {
  margin-bottom: 10px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  input {
    @extend .is-invalid !optional;   // has-errorが廃止になってis-invalidを使えばいいらしいけど、効かないみたい。
  }
  .form-control {
    color: $state-danger-text;
  }
}