<footer>
  <% if current_user %>
    <p class="logo"><%= current_user.name %> 様</p>
  <% else %>
    <p>ようこそ</p>
  <% end %>
  <ul class="footer-link">
    <li><%= link_to 'トップページへ', root_path %></li>
    <li><%= Time.now.strftime('%Y/%m/%d %H:%M:%S') %></li>
  </ul>
</footer>